@import url('https://fonts.googleapis.com/css?family=Lora|Josefin+Sans&display=swap');
html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
a {
  color: #33334d;
  font-family: Josefin Sans;
  text-decoration: none;
}
#main {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#info #description { z-index: 1;
  font-size: 20px;
}
#info #description #back {
  color: #a4a4c1;
  font-weight: bold;
  text-decoration: underline;
  opacity: 0.8;
  transition: opacity 0.3s;
}
#info #description #back:hover {
  opacity: 1;
}
#info #toggle {
  height: 0px;
  width: 0px;
  z-index: 1;
}
#info #toggle_text {
  z-index: 1;
  font-weight: bold;
  font-family: Josefin Sans;
  font-size: 17px;
  padding: 10px;
  border: 1px solid #33334d;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
#info #toggle:hover + #toggle_text {
  color: white;
  background-color: #33334d;
  border: 1px solid white;
}
#info #toggle:checked + #toggle_text {
  color: white;
  background-color: #33334d;
  border: 1px solid white;
}
#info #hidden {
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 0px;
  opacity: 0;
  transition: margin-top 0.3s, height 0.3s, opacity 0.3s;
}
#info #hidden .panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 250px;
  margin-left: 75px;
}
#info #hidden .panel #heading {
  font-size: 30px;
  font-weight: bold;
}
#info #hidden .panel #description {
  font-size: 18px;
  opacity: 0.75;
  margin-top: 15px;
  line-height: 25px;
}
#info #toggle:checked ~ #hidden {
  margin-top: 50px;
  height: 200px;
  opacity: 1;
}
#form {
  background-color: #fff3ff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form #details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#form #details #left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form #details #left img {
  width: 100px;
}
#form #details #left #button {
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}
#form #details #left img:hover + #button {
  opacity: 1;
}
#form #details #left #button:hover {
  opacity: 1;
}
#form #details #right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 25px;
}
#form #details #right .detail {
  z-index: 1;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(140, 140, 217, 0.3);
  font-family: Josefin Sans;
  width: 200px;
  color: #33334d;
  transition: width 0.3s;
}
#form #details #right .detail::placeholder {
  color: #8c8cd9;
}
#form #details #right .detail:focus {
  outline: none;
  width: 300px;
}
#form #details #right #name {
  font-size: 30px;
  font-weight: bold;
}
#form #details #right #price {
  margin-top: 10px;
  font-size: 25px;
}
#form #buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
#form #buttons .reset {
  font-family: Josefin Sans;
  font-size: 20px;
  color: #33334d;
  background-color: #fff3ff;
  border: 1px solid rgba(255, 51, 51, 0.6);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}
#form #buttons .reset:hover {
  background-color: rgba(255, 51, 51, 0.6);
  border: 1px solid #fff3ff;
  color: #f0f0f5;
}
#form #buttons .reset:focus {
  outline: none;
}
#form #buttons .add {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: bold;
  background-color: #33334d;
  color: #fff3ff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}
#form #buttons .add:hover {
  background-color: rgba(255, 51, 51, 0.05);
  color: #33334d;
}
#form #buttons .add:focus {
  outline: none;
}
