@import url('https://fonts.googleapis.com/css?family=Lora|Josefin+Sans&display=swap');
html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
a {
  color: #33334d;
  font-family: Josefin Sans;
  text-decoration: none;
}
table, div, h1, h2, h3, h4, h5, p, input, input::placeholder, option, select, label, b, button {font-family: Josefin Sans;} /* -___- */