@import url('https://fonts.googleapis.com/css?family=Lora|Josefin+Sans&display=swap');
html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
a {
  color: #33334d;
  font-family: Josefin Sans;
  text-decoration: none;
}
#main {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#list .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#list .row .card { z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff3ff;
  padding: 50px;
  margin: 15px;
  transition: background-color 0.3s;
}
#list .row .card #details { z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#list .row .card #details #code { z-index: 1;
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
}
#list .row .card #details #name { z-index: 1;
  font-size: 25px;
  z-index: 1;
}
#list .row .card #details #date { z-index: 1;
  font-size: 18px;
  z-index: 1;
  margin-top: 2px;
}
#list .row .card #details #backdrop { z-index: 1;
  font-size: 45px;
  opacity: 0.1;
  margin-top: -15px;
  margin-left: 1px;
  z-index: 0;
  position: absolute;
}
#list .row .card #items { z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
#list .row .card #items #item { z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#list .row .card #items #item img { z-index: 1;
  width: 50px;
}
#list .row .card #items #item #count { z-index: 1;
  margin-top: 40px;
  margin-left: -10px;
  font-weight: bold;
  font-size: 30px;
}
#list .row .card #items #item #name { z-index: 1;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 5px;
  width: 120px;
}
#list .row .card #items #item #name b { z-index: 1;
  font-size: 20px;
}
#list .row .card #payment { z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
#list .row .card #payment .option { z-index: 1;
  font-family: Josefin Sans;
  font-size: 17px;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
#list .row .card #payment input[type='radio'] { z-index: 1;
  height: 0px;
  width: 0px; 
}
#list .row .card #payment [id^=paid] + .option {
  border: 1px solid rgba(0, 153, 51, 0.6);
}
#list .row .card #payment [id^=pending] + .option {
  border: 1px solid rgba(255, 51, 51, 0.6);
}
#list .row .card #payment [id^=paid]:hover + .option {
  color: #093;
  border: 1px solid rgba(240, 240, 245, 0.3);
}
#list .row .card #payment [id^=paid]:checked + .option {
  color: #f0f0f5;
  background-color: rgba(0, 153, 51, 0.6);
  border: 1px solid rgba(240, 240, 245, 0.3);
}
#list .row .card #payment [id^=pending]:hover + .option {
  color: #f33;
  border: 1px solid rgba(240, 240, 245, 0.3);
}
#list .row .card #payment [id^=pending]:checked + .option {
  color: #f0f0f5;
  background-color: rgba(255, 51, 51, 0.6);
  border: 1px solid rgba(240, 240, 245, 0.3);
}
#list .row .card #payment .save { z-index: 1;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: bold;
  background-color: #33334d;
  color: #fff3ff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}
#list .row .card #payment .save:hover {
  background-color: #fff3ff;
  color: #33334d;
}
#list .row .card #payment .save:focus {
  outline: none;
}
#list .row .card:hover {
  background-color: white;
}
