body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.main{
    color: #660066;
    display: inline-block;
    width: 50%;
    margin-top: 100px;
    text-align: center;
}

.main h2{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 20px #660066;
}

form{
    background-color: #660066;
    color: white;
    padding: 40px;
    margin: 0;
    text-align: left;
    box-shadow: 0px 0px 15px  2px #660066;
}

form input[type=text]{
    width: 50%;
    background-color: #660066;
    color: white;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
    z-index: 2;
}

form input[type=text]::placeholder{
    color: white;
    opacity: 0.6;
}

form h3{
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

form h4{
    margin-top: 40px;
    font-weight: bold;
    font-size: 23px;
    display: inline-block;
}
form h5{
    font-size: 17px;
    display: inline-block;
}

.payBt{
    background-color: #660066;
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    font-size: 25px;
    margin: 20px;
    margin-left: 0;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0px 0px 10px  2px #660066;
}

.backBt{
    background-color:  coral;
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 14%;
    text-align: center;
    font-size: 25px;
    margin: 20px;
    margin-left: 0;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0px 0px 10px  2px coral;
    position: relative;
    z-index : 1;
}

.info {
    color: #660066;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    text-align: left;
}

.info .description{
    font-size: 20px;
    display: inline-block;
}

.item{
    color: #660066;
    padding: 40px;
    margin: 0;
    box-shadow: 0px 0px 15px  2px #660066;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1.25rem 1.5rem 0;
}

.buttonDiv{
    transition: 0.2s;
    border-radius: 16px;
    margin-top: 40px;
    text-align: center;
    display: inline-block;
    background-color:  white;
    color: red;
    font-weight: bold;
    width: 50%;
}

.buttonDiv p, .buttonDiv cal{
    display: inline-block;
    font-size: 20px;
    margin-top:10px;
}

.buttonDiv cal{
    margin-right: 1px;
}

.buttonDiv:hover{
    background-color:  #00FF00;
    color: white;
}

.attemptNext{
    background-color: #660066;
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    font-size: 25px;
    margin: 20px;
    margin-left: 0;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0px 0px 10px  2px #660066;
    opacity: 0.3;
}