body{
    background-color: darkslateblue;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-weight: 400;
    font-size: 100px;
    text-align: center;
}

.main{
    color: white;
    background-color: white;
    width: 100%;
    position: absolute;
}

.image{
    display: inline-block;
    margin-top: 100px;
}

.infoArea{
    position: relative;
    top: 0;
    float: right;
    margin-right: 200px;
    display: inline-block;
}

.info{
    color: darkslateblue;
    width: 100%;
   position: relative;
   margin-bottom: 50px;
}

.info h3{
    font-size: 100px;
}

.info .description{
    font-size: 20px;
    display: inline-block;
}

.info .price{
    font-size: 40px;
    font-weight: 400;
    display: inline-block;
}

.info .indivprice{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-left: 20px;
}

.customize{
    position: relative;
    display: inline-block;
     width: 100%;
     font-size: 20px;
     font-weight: bold;
     text-align: center;
}

 h2{
    text-align: center;
    font-weight: bold;
    color: darkslateblue;
}

.customize select{
    color: darkslateblue;
    
}

.customize form{
    background-color: darkslateblue;
    padding: 20px;
    margin: 20px;
}

.customize form input[type=text]{
    background-color: transparent;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 5px;
    border-bottom-color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

input::placeholder{
    color: white;
    opacity: 0.6;
}

.customize form input[type=textarea]{
    background-color: transparent;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 5px;
    border-bottom-color: white;
    font-size: 20px;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: white;
    margin-bottom: 50px;
}

form p{
    display: inline-block;
}

.flowerNo{
    font-size: 40px;
}


.slider::-webkit-slider-thumb{
    transition: all 0.2s;
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: darkslateblue;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}

.slider:focus{
    outline: none;
}

.buttonDiv{
    transition: 0.2s;
    border-radius: 16px;
    margin-top: 40px;
    text-align: center;
    display: inline-block;
    background-color:  transparent;
    color: white;
    font-weight: bold;
    width: 80%;
}

.buttonDiv p, .buttonDiv h3{
    display: inline-block;
}

.buttonDiv h3{
    margin-right: 10px;
}

.buttonDiv:hover{
    transform: translateY(-5%);
    width: 100%;
}

.purchaseBt:hover{
    background-color: palevioletred;
    color: white;
}

.section{
    padding: 10px;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.section select{
    width: 120px;
}

#wrapChoice, #flowerChoice{
    font-size: 25px;
}

input[type="radio"]:checked+label{ 
    opacity: 1;
} 

input[type="radio"]+label{ 
    background-color: black;
    padding: 10px;
    opacity: 0.3;
} 

input[type="radio"] {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


