body{
    background-color: #660066;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-weight: 400;
    font-size: 100px;
    text-align: center;
}

.gallery{
    background-color: white;
    padding: 10px;
    color: #660066;
    text-align: center;
    position: relative;
}

.gallery h1{
    font-size: 70px;
    font-weight: bold;
}

table{
   text-align: center;
   display: inline-block;
    position: relative;
}

table .cell{
    transition: 0.2s;
    padding: 30px;
    color: white;
}

table .cell:hover .info{
    border-color: #660066;
    border-width: 10px;
    background-color: blueviolet;
}

table .cell:hover{
    transform: translateY(-5%);
}


.image{
    max-height: 300px;
    object-fit: cover;
}

.info{
    transition: 0.2s;
    background-color: #660066;
    border-radius: 30px;
    padding: 5px;
    display: inline-block;
    width: 320px;
    height: 180px;
}


h3{
    font-weight: bold;
    font-size: 40px;
    
}

.pages{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.pages p{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    
}

.current{
    text-decoration: underline;
    font-weight: bold;
    color: lightcoral;
}

.price{
    font-weight: 400;
    font-size: 27px;
}

.description{
    height: 50px;
}


