.cart{
    display: inline-box;
}

.cartIcon{
    filter: invert(1);
    height: 40px;
}

.badge-danger{
    background-color: white;
    color: darkslateblue;
    font-weight: bold;
    margin: 4px;
}

header{
    padding: 10px;
}

