body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header a{
    color: white;
}

.badge-danger{
    background-color: white;
    color: #660066;
    font-weight: bold;
    margin: 4px;
}

header{
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: #660066;
    color: white;
    text-align: left;
}

header div div{
    transition: 0.2s;
    display: inline-block;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

header div div:hover{
    background-color: white;
    color: #660066;
}

.siteName{
    font-size: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    width: 50%;
}

.others{
    display: inline-block;
    text-align: left;
}

::-webkit-scrollbar{
    width: 0;
}

#errorMessage{
    font-size: 20px;
}