.content{
    color: #660066;
    display: inline-block;
    width: 30%;
    margin-top: 100px;
    text-align: left;
    background-color: #660066;
    color: white;
    padding: 40px;
    margin: 0;
    text-align: left;
    box-shadow: 0px 0px 15px  2px #660066;
    position: relative;
    z-index: 1;
}

body{
    background-color: #660066;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    color:#660066;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px #660066;
}

.top{
    font-size: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    width: 50%;
}

.resetBtn, .return{
    
    background-color:  coral;
    color: white;
    padding: 5px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 25px;
    margin: 20px;
    margin-left: 0;
    margin-top: 10px;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0px 0px 10px  0px coral;
    position: relative;
    z-index: 1;
}
