@import url('https://fonts.googleapis.com/css?family=Lora|Josefin+Sans&display=swap');
html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
a {
  color: #33334d;
  font-family: Josefin Sans;
  text-decoration: none;
}
#main {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#info #description { z-index: 1;
  font-size: 20px;
}
#info #description #back {
  color: #a4a4c1;
  font-weight: bold;
  text-decoration: underline;
  opacity: 0.8;
  transition: opacity 0.3s;
}
#info #description #back:hover {
  opacity: 1;
}
#info #toggle {
  height: 0px;
  width: 0px;
  z-index: 1;
}
#info #toggle_text {
  z-index: 1;
  font-weight: bold;
  font-family: Josefin Sans;
  font-size: 17px;
  padding: 10px;
  border: 1px solid #33334d;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
#info #toggle:hover + #toggle_text {
  color: white;
  background-color: #33334d;
  border: 1px solid white;
}
#info #toggle:checked + #toggle_text {
  color: white;
  background-color: #33334d;
  border: 1px solid white;
}
#info #hidden {
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 0px;
  opacity: 0;
  transition: margin-top 0.3s, height 0.3s, opacity 0.3s;
}
#info #hidden .panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 250px;
  margin-left: 75px;
}
#info #hidden .panel #heading {
  font-size: 30px;
  font-weight: bold;
}
#info #hidden .panel #description {
  font-size: 18px;
  opacity: 0.75;
  margin-top: 15px;
  line-height: 25px;
}
#info #toggle:checked ~ #hidden {
  margin-top: 50px;
  height: 240px;
  opacity: 1;
}
#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#list .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#list .row .card { z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff3ff;
  padding: 50px;
  margin: 15px;
  transition: background-color 0.3s;
}
#list .row .card #details { z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#list .row .card #details #left { z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#list .row .card #details #left img { z-index: 1;
  width: 75px;
}
#list .row .card #details #left #button { z-index: 1;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}
#list .row .card #details #left img:hover + #button {
  opacity: 1;
}
#list .row .card #details #left #button:hover {
  opacity: 1;
}
#list .row .card #details #right { z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15px;
}
#list .row .card #details #right #code { z-index: 1;
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
}
#list .row .card #details #right #backdrop { z-index: 1;
  font-size: 45px;
  opacity: 0.1;
  margin-top: -22px;
  margin-left: 1px;
  z-index: 0;
  position: absolute;
}
#list .row .card #details #right .detail { z-index: 1;
  z-index: 1;
  background: transparent;
  border: none;
  font-family: Josefin Sans;
  width: 100px;
  color: #33334d;
}
#list .row .card #details #right .detail:focus {
  outline: none;
}
#list .row .card #details #right #name { z-index: 1;
  font-size: 25px;
}
#list .row .card #details #right #price { z-index: 1;
  font-size: 20px;
}
#list .row .card #buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
#list .row .card #buttons .save { z-index: 1;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: bold;
  background-color: #33334d;
  color: #fff3ff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}
#list .row .card #buttons .save:hover {
  background-color: #fff3ff;
  color: #33334d;
}
#list .row .card #buttons .save:focus {
  outline: none;
}
#list .row .card #buttons .remove { z-index: 1;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(255, 51, 51, 0.6);
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}
#list .row .card #buttons .remove:hover {
  background-color: rgba(255, 51, 51, 0.05);
  color: rgba(255, 51, 51, 0.6);
}
#list .row .card #buttons .remove:focus {
  outline: none;
}
#list .row .card:hover {
  background-color: white;
}
